@font-face {
  font-family: titillium;
  src: url('titillium-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { box-sizing: inherit; }

body, input, select, button {
  font-family: titillium, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  display: flex;
  align-items: stretch;
  min-height: 100%;
  margin: 0;
  background: #202023;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: solid 4px #252729;
}

.sidebar-logo {
  margin: 15px 0;
  color: #2a9e45;
  font-size: 28px;
  text-align: center;
}

.dark-select {
  position: relative;
  margin: 15px 0 10px;
  border: solid 1px #171719;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(to bottom, #353637, #272829);
  color: #cccccc;
}

.dark-select select {
  -webkit-appearance: none;
  width: 100%;
  padding: 0 26px 2px 8px; /* 26 = 8 + 10 + 8 */
  border: 0;
  background: transparent;
  color: #cccccc;
  font-size: 16px;
  text-align: left;
}

.dark-select option {
  color: initial;
  font-weight: initial;
}

.dark-select-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 8px;
  width: 0;
  height: 0;
  margin: auto;
  border-top: 7px solid #cccccc;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  pointer-events: none;
}

#matrix {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin: 10px 0;
}

#matrix > input[type="text"] {
  width: 100%;
  margin: 0;
  border: solid 1px #171719;
  border-radius: 0px;
  background: #323235;
  color: #cccccc;
  font-size: 16px;
  text-align: center;
}

#matrix > .r1c1 { border-top-left-radius: 4px; }
#matrix > .r1c3 { border-top-right-radius: 4px; }
#matrix > .r3c1 { border-bottom-left-radius: 4px; }
#matrix > .r3c3 { border-bottom-right-radius: 4px; }

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding-bottom: 2px;
  border: solid 1px #171719;
  border-radius: 4px;
  background: linear-gradient(to bottom, #353637, #272829);
  color: #cccccc;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  margin: 40px;
  padding: 20px;
  border: dashed 4px #888888;
  border-radius: 10px;
  color: #cccccc;
  font-size: 32px;
  text-align: center;
}

#image-picker {
  width: 150px;
  margin: 0 auto;
}

#preview-canvas {
  max-width: 100%;
  height: auto;
}
